/* Color names as classes */
.red {
  color: #ff0000;
}
.green {
  color: #008000;
}
.blue {
  color: #0000ff;
}
.yellow {
  color: #ffff00;
}

/* Navbar icon same size as Font Awesome icons */
.nav .inline-icon-link > img {
  display: inline-block;
  vertical-align: middle;
  height: 17pt;
}

/* Imitate footer CSS style in custom footer */
div.footer_custom {
  background-color: #eee8d5;
  text-align: center;
}
div.footer_custom p.copyright {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
a[rel="license"] {
  color: #404040;
}

/* figure rendering */
figure.mysvg div.img img {
  width: 80%;
}
div.HTMLembedded {
  font-size: 14px;
  border: 1px solid #93a1a1;
  padding: 5px;
}
div.HTMLembedded table tr td {
  border: 0;
  padding: 0;
}

/* boxed math expressions */
.boxedmath {
  border: 0.0625em solid currentcolor;
  padding: 0.5em;
}
/* custom PDF embed */
.small-pdf-embed-container {
  position: relative;
  padding-top: 45%;
}
/* small inline icons */
.small-inline-icons {
  display: inline;
  height: 1em;
  width: 1em;
  vertical-align: -0.075em;
}
