<h3>GParted Details</h3>
<p>GParted 0.30.0 --enable-libparted-dmraid --enable-online-resize</p>
<p>Libparted 3.2</p>
<table border='0'>
<tr>
<td colspan='2'>
<b>Move /dev/sdb4 to the left and grow it from 3.81 GiB to 6.00 GiB</b>&nbsp;&nbsp;00:00:22&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
calibrate /dev/sdb4&nbsp;&nbsp;00:00:03&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>path: /dev/sdb4 (partition)<br />start: 1905526784<br />end: 1913526271<br />size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
calculate new size and position of /dev/sdb4&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>requested start: 1875781530<br />requested end: 1888360424<br />requested size: 12578895 (6.00 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1875781530<br />new end: 1888360424<br />new size: 12578895 (6.00 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
check file system on /dev/sdb4 for errors and (if possible) fix them&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>e2fsck -f -y -v -C 0 &apos;/dev/sdb4&apos;</i></b>&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>Pass 1: Checking inodes, blocks, and sizes<br />Pass 2: Checking directory structure                                           <br />Pass 3: Checking directory connectivity<br />/lost+found not found.  Create? yes<br /><br />Pass 4: Checking reference counts<br />Pass 5: Checking group summary information<br />                                                                               <br />/dev/sdb4: ***** FILE SYSTEM WAS MODIFIED *****<br /><br />          19 inodes used (0.01%, out of 249984)<br />           0 non-contiguous files (0.0%)<br />           0 non-contiguous directories (0.0%)<br />             # of inodes with ind/dind/tind blocks: 0/0/0<br />             Extent depth histogram: 9<br />       36000 blocks used (3.60%, out of 999936)<br />           0 bad blocks<br />           1 large file<br /><br />           0 regular files<br />           8 directories<br />           0 character device files<br />           0 block device files<br />           0 fifos<br />           0 links<br />           0 symbolic links (0 fast symbolic links)<br />           1 socket<br />------------<br />           9 files<br /></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>e2fsck 1.44.1 (24-Mar-2018)<br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
grow partition from 3.81 GiB to 18.00 GiB&nbsp;&nbsp;00:00:03&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>old start: 1905526784<br />old end: 1913526271<br />old size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1875781530<br />new end: 1913526271<br />new size: 37744742 (18.00 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
move file system to the left&nbsp;&nbsp;00:00:06&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>e2image -ra -p -o 15229570048 &apos;/dev/sdb4&apos;</i></b>&nbsp;&nbsp;00:00:06&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>e2image 1.44.1 (24-Mar-2018)<br />Scanning inodes...<br />Copied 35930 / 35930 blocks (100%) in 00:00:03 at 46.78 MB/s       <br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
shrink partition from 18.00 GiB to 3.81 GiB&nbsp;&nbsp;00:00:03&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>old start: 1875781530<br />old end: 1913526271<br />old size: 37744742 (18.00 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1875781530<br />new end: 1883781017<br />new size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
calculate new size and position of /dev/sdb4&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>requested start: 1875781530<br />requested end: 1888360424<br />requested size: 12578895 (6.00 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1875781530<br />new end: 1888360424<br />new size: 12578895 (6.00 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
check file system on /dev/sdb4 for errors and (if possible) fix them&nbsp;&nbsp;00:00:00&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>e2fsck -f -y -v -C 0 &apos;/dev/sdb4&apos;</i></b>&nbsp;&nbsp;00:00:00&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>Pass 1: Checking inodes, blocks, and sizes<br />Pass 2: Checking directory structure                                           <br />Pass 3: Checking directory connectivity<br />Pass 4: Checking reference counts<br />Pass 5: Checking group summary information<br />                                                                               <br />          19 inodes used (0.01%, out of 249984)<br />           0 non-contiguous files (0.0%)<br />           0 non-contiguous directories (0.0%)<br />             # of inodes with ind/dind/tind blocks: 0/0/0<br />             Extent depth histogram: 9<br />       36000 blocks used (3.60%, out of 999936)<br />           0 bad blocks<br />           1 large file<br /><br />           0 regular files<br />           9 directories<br />           0 character device files<br />           0 block device files<br />           0 fifos<br />           0 links<br />           0 symbolic links (0 fast symbolic links)<br />           1 socket<br />------------<br />          10 files<br /></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>e2fsck 1.44.1 (24-Mar-2018)<br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
grow partition from 3.81 GiB to 6.00 GiB&nbsp;&nbsp;00:00:04&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>old start: 1875781530<br />old end: 1883781017<br />old size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1875781530<br />new end: 1888360424<br />new size: 12578895 (6.00 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
grow file system to fill the partition&nbsp;&nbsp;00:00:00&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>resize2fs -p &apos;/dev/sdb4&apos;</i></b>&nbsp;&nbsp;00:00:00&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>Resizing the filesystem on /dev/sdb4 to 1572361 (4k) blocks.<br />The filesystem on /dev/sdb4 is now 1572361 (4k) blocks long.<br /><br /></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>resize2fs 1.44.1 (24-Mar-2018)<br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<p>========================================</p>
<table border='0'>
<tr>
<td colspan='2'>
<b>Move /dev/sdb3 to the left and grow it from 3.81 GiB to 15.81 GiB</b>&nbsp;&nbsp;00:02:22&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
calibrate /dev/sdb3&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>path: /dev/sdb3 (partition)<br />start: 1913526272<br />end: 1921525759<br />size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
check file system on /dev/sdb3 for errors and (if possible) fix them&nbsp;&nbsp;00:00:02&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>e2fsck -f -y -v -C 0 &apos;/dev/sdb3&apos;</i></b>&nbsp;&nbsp;00:00:02&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>Pass 1: Checking inodes, blocks, and sizes<br />Pass 2: Checking directory structure                                           <br />Pass 3: Checking directory connectivity                                        <br />Pass 4: Checking reference counts<br />Pass 5: Checking group summary information                                     <br />                                                                               <br />       13135 inodes used (5.25%, out of 249984)<br />         100 non-contiguous files (0.8%)<br />           8 non-contiguous directories (0.1%)<br />             # of inodes with ind/dind/tind blocks: 0/0/0<br />             Extent depth histogram: 12828/54<br />      769775 blocks used (76.98%, out of 999936)<br />           0 bad blocks<br />           1 large file<br /><br />       12309 regular files<br />         561 directories<br />           0 character device files<br />           0 block device files<br />           0 fifos<br />           9 links<br />         256 symbolic links (245 fast symbolic links)<br />           0 sockets<br />------------<br />       13135 files<br /></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>e2fsck 1.44.1 (24-Mar-2018)<br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
grow partition from 3.81 GiB to 15.81 GiB&nbsp;&nbsp;00:00:03&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>old start: 1913526272<br />old end: 1921525759<br />old size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1888360448<br />new end: 1921525759<br />new size: 33165312 (15.81 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
move file system to the left&nbsp;&nbsp;00:02:07&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>e2image -ra -p -o 12884901888 &apos;/dev/sdb3&apos;</i></b>&nbsp;&nbsp;00:02:07&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>e2image 1.44.1 (24-Mar-2018)<br />Scanning inodes...<br />Copied 769734 / 769734 blocks (100%) in 00:01:45 at 28.64 MB/s       <br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
shrink partition from 15.81 GiB to 3.81 GiB&nbsp;&nbsp;00:00:04&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>old start: 1888360448<br />old end: 1921525759<br />old size: 33165312 (15.81 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1888360448<br />new end: 1896359935<br />new size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
check file system on /dev/sdb3 for errors and (if possible) fix them&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>e2fsck -f -y -v -C 0 &apos;/dev/sdb3&apos;</i></b>&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>Pass 1: Checking inodes, blocks, and sizes<br />Pass 2: Checking directory structure                                           <br />Pass 3: Checking directory connectivity                                        <br />Pass 4: Checking reference counts<br />Pass 5: Checking group summary information<br />                                                                               <br />       13135 inodes used (5.25%, out of 249984)<br />         100 non-contiguous files (0.8%)<br />           8 non-contiguous directories (0.1%)<br />             # of inodes with ind/dind/tind blocks: 0/0/0<br />             Extent depth histogram: 12828/54<br />      769775 blocks used (76.98%, out of 999936)<br />           0 bad blocks<br />           1 large file<br /><br />       12309 regular files<br />         561 directories<br />           0 character device files<br />           0 block device files<br />           0 fifos<br />           9 links<br />         256 symbolic links (245 fast symbolic links)<br />           0 sockets<br />------------<br />       13135 files<br /></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>e2fsck 1.44.1 (24-Mar-2018)<br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
grow partition from 3.81 GiB to 15.81 GiB&nbsp;&nbsp;00:00:03&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>old start: 1888360448<br />old end: 1896359935<br />old size: 7999488 (3.81 GiB)</i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>new start: 1888360448<br />new end: 1921523711<br />new size: 33163264 (15.81 GiB)</i>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
grow file system to fill the partition&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<b><i>resize2fs -p &apos;/dev/sdb3&apos;</i></b>&nbsp;&nbsp;00:00:01&nbsp;&nbsp;&nbsp;&nbsp;( SUCCESS )
</td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
<table border='0'>
<tr>
<td colspan='2'>
<i>Resizing the filesystem on /dev/sdb3 to 4145408 (4k) blocks.<br />The filesystem on /dev/sdb3 is now 4145408 (4k) blocks long.<br /><br /></i>
</td>
</tr>
</table>
<table border='0'>
<tr>
<td colspan='2'>
<i>resize2fs 1.44.1 (24-Mar-2018)<br /></i>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<p>========================================</p>
